<footer class="site-footer">
    <div class="row">
        <div class="col-md-4">©2025 圖資所-資訊架構作業 by GPT-4.1</div>
        <div class="col-md-4">email：gilis@tayal.tw</div>
        <div class="col-md-4 text-end">
            <!-- 社群圖示，使用 Google Material Icons -->
            <a href="https://line.me/" target="_blank" title="Line" class="ms-2" style="color:#00c300;">
                <span class="material-icons" style="vertical-align:middle;font-size:1.7rem;">chat</span>
            </a>
            <a href="https://www.threads.net/" target="_blank" title="Threads" class="ms-2" style="color:#000;">
                <span class="material-icons" style="vertical-align:middle;font-size:1.7rem;">alternate_email</span>
            </a>
            <a href="https://instagram.com/" target="_blank" title="Instagram" class="ms-2" style="color:#E4405F;">
                <span class="material-icons" style="vertical-align:middle;font-size:1.7rem;">photo_camera</span>
            </a>
            <a href="https://facebook.com/" target="_blank" title="Facebook" class="ms-2" style="color:#1877f3;">
                <span class="material-icons" style="vertical-align:middle;font-size:1.7rem;">facebook</span>
            </a>
        </div>
    </div>
</footer>