<footer class="site-footer">
    <div class="row">
        <div class="col-md-4">©2025 圖資所-資訊架構作業 by GPT-4.1</div>
        <div class="col-md-4">email：gilis@tayal.tw</div>
        <div class="col-md-4 text-end">
            <!-- 社群圖示，官方配色，距離左邊界至少50px -->
            <div style="display:inline-block; margin-right:24px; margin-left:50px;">
                <a href="https://line.me/" target="_blank" title="Line" style="margin-right:10px; color:#06C755;">
                    <i class="fab fa-line fa-lg"></i>
                </a>
                <a href="https://www.threads.net/" target="_blank" title="Threads"
                    style="margin-right:10px; color:#000;">
                    <i class="fab fa-threads fa-lg"></i>
                </a>
                <a href="https://instagram.com/" target="_blank" title="Instagram"
                    style="margin-right:10px; color:#E4405F;">
                    <i class="fab fa-instagram fa-lg"></i>
                </a>
                <a href="https://facebook.com/" target="_blank" title="Facebook" style="color:#1877F3;">
                    <i class="fab fa-facebook fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
</footer>